@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:
  radial-gradient(circle at top,#2d1b69,#0f172a 70%);
  color:white;
  min-height:100vh;
}

button{
  cursor:pointer;
  transition:.25s;
}

button:hover{
  transform:translateY(-2px);
}

input{
  font-family:'Poppins',sans-serif;
}